body {
    margin: 0;
    height: 0;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  
::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(24, 22, 22, 0.836);}
::-webkit-scrollbar-track {
  
    box-shadow: rgba(24, 23, 23, 0.658) 1px 1px 1px;}
::-webkit-scrollbar-thumb {
    background: linear-gradient(50deg,
        rgba(0, 0, 0, 0.644),
        rgba(34, 34, 37, 0.856),
        rgba(27, 27, 31, 0.671),
  
        rgba(0, 0, 0, 0.658));}


li {
  list-style: none;
}

.imageContainer {
  height: 150vh;
  position: absolute;
  left: 180px;
  overflow: hidden;
}

.nr1 {
  margin-top: 200px;
  mix-blend-mode: color-burn; 
}

.nr2 {
  margin-top: -560px;
  mix-blend-mode: color-burn; 
}

.hero {
  float: right;
  margin-top: 15%;
  margin-right: 15%;
  width: 500px;
  height: 400px;
}

h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.75;
  
}

.line {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.226);
  width: 30px;
  height: 3px;
}

.line2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.226);
  width: 30px;
  height: 3px;
  float: right;
}

.home-button {
  padding: 10px;
  width: 130px;
  background-color: rgba(12, 10, 10, 0.466);
  border-radius: 9px;
  color: aliceblue;
  mix-blend-mode: multiply; 
  transition: all 0.5s ease;
  cursor: pointer;
}

.home-button:hover {
  border-radius: 0;
  color: rgb(255, 60, 60);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects {
  margin-top: 100vh;

  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  transition: 0.7s all ease-in;
}

.video-bg { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}